<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <h2 th:text="#{게시글_조회}"></h2>
    <div th:object="${boardDataView}">
        <div class="create">
        <table>
            <tr>
                <th th:text="#{이메일}"></th>
                <td th:text="*{email}"></td>
            </tr>
            <tr>
                <th th:text="#{제목}"></th>
                <td th:text="*{title}"></td>
            </tr>
            <tr>
                <th th:text="#{작성_일시}"></th>
                <td th:text="*{createdAt.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy년MM월dd일 HH시mm분'))}"></td>
            </tr>
            <tr>
                <th th:text="#{내용}"></th>
                <td th:text="*{content}"></td>
            </tr>
        </table>
        </div>
    <button type="button" class="create_button"><a th:href="@{/board/modify/{seq}(seq=*{seq})}" th:text="#{수정하기}"></a></button>
    <button type="button" class="create_button"><a th:href="@{/board/delete/{seq}(seq=*{seq})}" th:text="#{삭제하기}" onclick="alert('게시글을 삭제하시겠습니까?')"></a></button>
    </div>
</main>
</html>