.dn {
    display: none !important;
}

* {
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
    outline: none;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 400px;
    min-width: 400px;
}

a {
    text-decoration: none;
}
