table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid rgba(246, 206, 212, 0.76);
    padding: 8px;
    text-align: center;
}
th {
    background-color: #FFEBFF;
}

.create_button{
    margin-top: 10px;
}

.view {
    color: #f87262;
    font-weight: bold;
}